{% extends 'base.html.twig' %}

{% block title %}Car Explorer: About{% endblock %}

{% block main %}
 
    <h1>About Car Explorer</h1>
    <p>
        <strong>
            Welcome to Car Explorer application!
        </strong>
    </p>
    <p class="about">
        This application is a simple example of tool to handle used car dealer. It is based on Symfony, API Platform and using Bootstrap. 
        The app aims to find available cars by filling the form. Cars can be filtered by brand, model, type, mileage, year and price. 
        <br>
        After submitting the form, all matching cars will be listed below with basic informations.
        The app is connected to api based on API Platform. Created only for education purposes.
    </p>

{% endblock %}

